<div class="side-container">
    <span class="main-close">
        &lt;
    </span>
    <h4 style="text-align: center; margin-bottom: 0;">YOUR CART</h4>
    <mat-form-field appearance="outline" style="margin-top: 10px;" [style.width.px]="100">
        <!-- <mat-label>Currency</mat-label> -->
        <mat-select [formControl]="currencyControl" (selectionChange)="getSelect($event)">
            <mat-option *ngFor="let curr of currency" [value]="curr">
                {{curr}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="selectedProduct.length > 0" style="margin-top: 0;">
        <div class="side-items" *ngFor="let product of selectedProduct">
            <span class="cancel" (click)="removeItem(product.id)">&times;</span>
            <div class="top-side">
                <h4>{{product.title}}</h4>
            </div>
            <div class="right-side">
                <img [src]="product.image_url" alt="">
            </div>
            <div class="bottom-side">
                <div class="left-right-btn">
                    <mat-icon style="margin-bottom: 15px; cursor: pointer;" (click)="reduceCount(product.id)">minimize
                    </mat-icon>
                    <h2 style="margin-bottom: 0;">{{product.count}}</h2>
                    <mat-icon style="cursor: pointer;" (click)="increaseCount(product.id)">add</mat-icon>
                </div>

                <h3 style="margin-bottom: 0;">${{product.price * product.count}}</h3>
            </div>

        </div>

        <div style="margin-top: 40px;">
            <hr>
            <div class="subtotal">
                <h3 style="margin-bottom: 0">Subtotal</h3>
                <h3 style="margin-bottom: 0">${{getAllItem(this.selectedProduct)}}</h3>
            </div>
        </div>
    </div>









</div>