.side-container{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;

    .empty-cart{
        display: flex; 
        flex-direction: column;
        align-items: center; 
        margin-top: 50%; 
        justify-content: center;
    }

    .main-close{
        position: absolute;
        top: 10px;
        border: 1px solid #000;
        left: 10px;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;;
    }


    .side-items{
        position: relative;
        min-height: 200px;
        margin-top: 10px;
        display: block;
        padding: 10px;
        background-color: #fff;

        .top-side{
            // display: flex;
           
            // justify-content: space-between;
            margin-bottom: 10px;
        }

       

        .right-side{
            display: flex;
            margin-top: 20px;
            margin-right: 50px;
            justify-content: flex-end;
        }

        .bottom-side{
            margin-top: 20px;
            display: flex;
            align-items: center;
            
            .left-right-btn{
                
                height: 30px;
                width: 100px;
                margin-right: 70px;
                border: 1px solid #000;
                display: flex;
                justify-content: space-between;
                align-items: center;        
            }
        }
        
    }


    
}

.subtotal{
    display: flex;
    justify-content: space-between;
}


.cancel{
    font-size: 30px;
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
}






img{
    width: 100%;
    max-width: 200px;
    height: auto;
}
